homebian.taildda449.ts.net {

    @parabol_auth path /parabol/auth/*
    handle @parabol_auth {
        uri strip_prefix /parabol
        reverse_proxy parabol:3000
    }

    respond 403
}

parabol.bib {
    tls internal
    reverse_proxy parabol:3000
}
